{% trans_default_domain datatable.translationDomain %}

<table id="{{ datatable.name }}" class="{% if className is defined and className is not empty %}{{ className }}{% endif %}">
  <thead class="table-light">
    <tr>
      {% for column in datatable.columns %}
        <th>{{ column.label|trans }}</th>
      {% endfor %}
    </tr>
    {% if datatable.option('searching') and columnFilter ?? '' in ['both', 'thead'] %}
      <tr class="datatable-filters">
        {% for column in datatable.columns %}
          <td>
            {% if column.filter != null %}{% include column.filter.templateHtml %}{% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endif %}
  </thead>
  <tbody></tbody>

  {% if datatable.option('searching') and columnFilter ?? '' in ['both', 'tfoot'] %}
    <tfoot>
      <tr class="datatable-filters">
        {% for column in datatable.columns %}
          <td>
            {% if column.filter != null %}{% include column.filter.templateHtml %}{% endif %}
          </td>
        {% endfor %}
      </tr>
    </tfoot>
  {% endif %}
</table>

{% if datatable.option('searching') %}
  <script>
    $('#{{ datatable.name }}').on('stateLoaded.dt', function (e, settings, data) {
        {% for column in datatable.columns %}
        {% if column.filter != null %}{% include column.filter.templateJs %}{% endif %}
        {% endfor %}
    });

    $('#{{ datatable.name }}').on('init.dt', function (e, settings, data) {
        {% for column in datatable.columns %}
            {% if column.filter != null %}
                $(function() {
                    $('#{{ datatable.name }}-column-{{ column.index }}').on(
                        "keyup", 
                        function() { 
                            const table = $(this).closest("table").DataTable();
                            const column = table.columns({{ column.index }});
                            const newValue = $(this).val();

                            if (column.search() !== newValue) {
                                column.search(newValue).draw();
                            }
                        }
                    )
                });
            {% endif %}
        {% endfor %}
    });
</script>
{% endif %}
