<label>
    <select
            id="{{ datatable.setting('name') }}-column-{{ column.index }}"
            data-search-column-index="{{ column.index }}"
    >
        {% if column.filter.placeholder != null %}
            <option class="placeholder">{{ column.filter.placeholder|trans }}</option>
        {% endif %}
        {% for key, choice in column.filter.choices %}
            <option value="{{ key }}">{{ choice }}</option>
        {% endfor %}
    </select>
</label>
