<label>
    <input class="form-control"
           id="{{ datatable.name }}-column-{{ column.index }}"
           data-search-column-index="{{ column.index }}"
           placeholder="{{ column.filter.placeholder ?? '' }}"
           value="{{ searchValue ?? '' }}"
    />
</label>
